<div class="container">    
    <h1>Editando Clase <strong>&quot<%= @clase.nombre %>&quot</strong></h1>

    <%= render 'form', clase: @clase %>

    <br>

    <a class="btn btn-primary" href="<%= clase_path(@clase) %>" role="button">Ver</a>
    <a class="btn btn-info" href="<%= clases_path %>" role="button">Atrás</a>
</div>