<div class="container">    
    <h1>Editando Clase &quot<%= @clase.nombre %>&quot</h1>

    <%= render 'form', clase: @clase %>

    <a class="btn btn-primary" href="<%= clase_path(@clase) %>" role="button">Ver</a>
    <a class="btn btn-success" href="<%= clases_path %>" role="button">Atrás</a>
</div>