<div class="container-fluid text-center">
    <h1>Nueva Clase</h1>

    <%= render 'form', clase: @clase %>

    <br>

    <a class="btn btn-info" href="<%= clases_path %>" role="button">Atrás</a>
</div>
