<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">EdgeWaterSurfing</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Inicio</a></li>
            <li><a href="/">Tienda</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/usuarios">Gestionar usuarios</a></li>
            <li><a href="/clases">Gestionar clases</a></li>
            <li><a href="/productos">Gestionar productos</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <img src="/images/logo.png" class="img-rounded img-responsive" alt="EdgeWaterSurfing logo">
            <p><a href="/">Link ejemplo1</a></p>
            <p><a href="/">Link ejemplo2</a></p>
            <p><a href="/">Link ejemplo3</a></p>
        </div>
        <div class="col-sm-10 text-left">
            <h1>Bienvenido/a a EdgeWaterSurfing</h1>
            <p>Cuerpo</p>
        </div>
    </div>
</div>