<div class="container">
    <div class="col-md-3">
        <img src="/images/logo.png" class="img-responsive" alt="EdgeWaterSurfing logo"> 
    </div>

    <div class="col-md-9">
        <h1>EdgeWaterSurfing - Tu academia de surf</h1>
    </div>

    <a class="btn btn-primary" href="/usuarios" role="button">Gestión de usuarios</a>
    <a class="btn btn-primary" href="/clases" role="button">Gestión de clases</a>
</div>
