<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <img src="/images/logo.png" class="img-rounded img-responsive" alt="EdgeWaterSurfing logo">
            <!--
            <br>
            <br>
            <br>
            <br>
            <p><a href="/">Link ejemplo1</a></p>
            <p><a href="/">Link ejemplo2</a></p>
            <p><a href="/">Link ejemplo3</a></p>
            -->
        </div>
        <div class="col-sm-10 text-left">
            <img src="/images/indice.jpeg" class="img-rounded img-responsive mx-auto d-block" alt="Indice oceano" style="padding-top: 3px;">
            <h1>Bienvenido/a a EdgeWaterSurfing</h1>
            <h2>¿Quieres saber como aprender a surfear?</h2>
            <p>En EdgeWaterSurfing sabemos que aprender surf es una 
            experiencia única y que acaba marcándote de por vida. El surf es más que un deporte, es un modo de vida. 
            Es sentir la espuma en la cara y la emoción de la velocidad con la que nos deslizamos por las olas. Por 
            eso te traemos la oportunidad perfecta de cómo aprender surf, de cómo iniciarse en este mundo que no 
            es tan cerrado como a algunos puede parecer. Como siempre, os recomendamos comenzar a aprender a surfear en 
            una escuela de surf como la nuestra, ya que el contacto con monitores profesionales y con surfistas veteranos 
            es fundamental a la hora de comenzar con buen pie a aprender surf. Si quieres saber cómo hacer surf 
            ¡sigue con nosotros! </p>
            <img src="/images/surf1.png" class="img-rounded img-responsive" alt="Surf 1" style="padding-top: 3px;">
        </div>
    </div>
</div>