<div class="container">

    <div class="text-center"><h1>Nuestra historia</h1></div>

    <div class="col-sm-6">
        
        <img src="/images/waves.jpg" class="img-rounded img-responsive" alt="Waves">

    </div>
    <div class="col-sm-6">
        <p>Nacimos en tiempos de confinamiento. 
        <br> Somos una escuela de surf que sintió que debía modernizarse un poco. El coronavirus parecía poner una barrera en la enseñanza a distancia del surf, sin embargo,  con nuestras
            clases dirigidas, con tutoriales y videos o, simplemente con la venta de material, podemos ayudarte a retomar contacto con las olas.
            Si buscas empezar a surfear desde 0, tenemos a los mejores profesores.</p>
    </div>
</div>

<div class="text-center">
    <p>Si tienes alguna pregunta, ¡no dudes en <a href="/contacto">contactar</a> con nosotros!</p>
</div>
