<div class="container">

    <h1>Nuestra historia</h1>

    <p>Nacimos en tiempos de confinamiento, el coronavirus parecía poner una barrera en la enseñanza a distancia del surf, sin embargo,  con nuestras
    clases dirigidas, con tutoriales y videos o, simplemente con la venta de material, podemos ayudarte a retomar contacto con las olas.
    Si buscas empezar a surfear desde 0, tenemos a los mejores profesores.</p>

    <img src="/home/zuzu/Desktop/waves.jpg" class="img-rounded img-responsive" alt="Waves">

    <p>¡<a href="/contacto">Contacta</a> con nosotros!</p>
</div>
