/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
    border-color: rgb(28, 112, 207);
    margin-bottom: 0;
    border-radius: 0;
    background: rgb(0, 77, 199);
    background: linear-gradient(90deg, rgba(0,77,190,1) 0%, rgba(119,181,255,1) 100%);
}
nav{
    position: -webkit-sticky;
    position: sticky;
}
.nav.navbar-nav li.active > a{
    background-color: rgba(119,181,255,1);
    color:white;
}

.nav.navbar-nav li.active > a:hover{
    background-color: rgb(48, 142, 248);
    color:white;
}

.nav.navbar-nav li.noactive > a:hover{
    background-color: rgb(48, 142, 248);
    color:white;
}


.row.content {
    height: 500px;
}

p a{
    padding-top: 5px;
    font-size: medium;
    color: rgb(28, 112, 207);
    text-decoration: none;
}

p a:hover{
    text-decoration: none;
}
.sidenav {
    padding-top: 20px;
    background: rgb(238, 238, 238);
    background: linear-gradient(180deg,rgba(238,238,238,1) 40%, rgba(169,237,243,1) 53%, rgba(0,236,255,1) 66%,
     rgba(0,236,255,0) 100%);
    //background-color: #eeeeee;
    height: 100%;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}