// Place all the styles related to the Productos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
    display: flex;
    padding-left: ($spacer * 1.5) !important;
    padding-right: ($spacer * 1.5) !important;
    background: rgba(0,0,0,0.3);
}

.card-body {
    justify-content: center;
}